@page
@model cldv_part1_mvc.Views.Home.AboutModel
@{
    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    
    
    
    </head>


    <body>
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 2022</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Application HandCrafted Khumalo Shoes</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    A resurgence in appreciation for handmade goods leads to a renewed interest in handcrafted shoes.
                    Artisanal shoemakers leverage online platforms to reach a global audience and offer custom-made footwear.
                    Sustainable and ethical practices gain prominence, with many shoemakers prioritizing eco-friendly materials and fair labor practices..
                </p>
            <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
                Learn more
                <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </li>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">March 2022</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Marketing Design and Quality</h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                    Handcrafted shoes continue to be cherished for their superior quality, attention to detail, and unique character.
                    Consumers seek out artisanal shoemakers for personalized footwear that reflects their style and values.
                    The handcrafted shoe industry remains a vibrant and integral part of the fashion landscape, combining tradition with innovation.
                </p>
        </li>
        <li class="ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2022</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">E-Commerce and Future of Handcrafted Shoes. Take the world to the next level...</h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                    Advances in technology may enhance the craftsmanship of handcrafted shoes, allowing artisans to blend traditional techniques with cutting-edge tools and materials.
                    Demand for sustainable and ethically-made footwear is expected to grow, driving further innovation in the handcrafted shoe market.
                    Artisanal shoemakers will continue to adapt to changing consumer preferences while staying true to their commitment to quality and craftsmanship.

                </p>
        </li>
    </ol>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    </body>


}
