@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>

<div class="text-center">
    <section class="hero-section">
        <div class="hero">
            <h2>Handcrafted luxury shoes </h2>
            <p>
                Join us in the exciting world of luxury shoes and turn your ideas of shoes into
                reality. Unlock the world of endless possibilities - buy our product
                shape the shoemaking future with us.
            </p>
            <div class="buttons">
                <a href="#" class="join">Join Now</a>
                <a href="#" class="learn">Learn More</a>
            </div>
        </div>
        <div class="img">
            <img src="/Images/shoes_landing-removebg-preview.png" alt="hero image" />
        </div>
    </section>
   


</div>
